<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperBlog</title>
    <link rel="icon" href="images/SB-logo.ico">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h2><a href="/create" class="createBtn">Create</a></h2>

    <% if (locals.posts) { 
        if (posts.length == 0) {
            %> <h2>No posts to display...</h2> <%
        } else { %>

    <% for (let i = posts.length - 1; i >= 0; i--) { %>
        <a class="postPreview" href="/view<%= i %>">
            <h2><%= posts[i].title %></h2>
            <h3><%= posts[i].description %></h3>
            <h4><%= posts[i].timeEdited %></h4>
        </a>
    <% };}} %>
    
</body>
</html>